<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{generic :: htmlheader}"></head>

    <body class="text-center">
        <div class="signin-header">
            <img class="mb-4" th:src="${logo}" style="max-width: 280px;"/>
            <p class="lead" th:text="${introduction}" th:unless="${#strings.isEmpty(introduction)}">Introduction</p>
            <p class="lead" th:text="${notRegisteredIntroduction}"></p>
            <a th:href="@{/register}">Registreer hier</a>
        </div>
        <form class="form-signin" th:action="@{/login}" method="post">

            <h1 class="h3 mb-3 font-weight-normal">Inloggen</h1>
            <div th:if="${#request.getParameter('authentication_error')}" class="alert alert-danger">
                <strong>Het inloggen is niet gelukt, probeer nogmaals.</strong>
            </div>
            <label for="username" class="sr-only">Emailaddres</label>
            <input id="username" name="username" type="text" class="form-control" placeholder="Gebruikersnaam" required autofocus>

            <label for="password" class="sr-only">Wachtwoord</label>
            <input id="password" name="password" type="password" class="form-control" placeholder="Wachtwoord" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Inloggen</button>
            <p><a th:href="@{/recover-password}">Wachtwoord vergeten?</a></p>
            <p class="mt-5 mb-3 text-muted" th:utext="${footer}">&copy; 2018</p>
        </form>
    </body>
</html>