<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{generic :: htmlheader}"></head>

    <body class="text-center">
        <form th:action="@{/recover-password}" th:object="${email}" method="post" enctype="utf8" class="form-signin">
            <img class="mb-4" th:src="${logo}" style="max-width: 280px;"/>
            <h1 class="h3 mb-3 font-weight-normal" th:text="${title}" th:unless="${#strings.isEmpty(title)}">Wachtwoord herstel</h1>
            <span th:text="${introduction}" th:unless="${#strings.isEmpty(introduction)}">Introduction</span>
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <br />
            <label for="email" class="sr-only">E-mailadres</label>
            <input type="email" th:field="*{email}" id="email" class="form-control" placeholder="Uw e-mailadres"
                   required autofocus/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Herstellen</button>
            <p class="mt-5 mb-3 text-muted" th:utext="${footer}">&copy; 2018</p>
        </form>
    </body>
</html>