<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{generic :: htmlheader}"></head>

<body>

<div id="container" class="cls-container">

    <div id="bg-overlay" class="bg-img" style="background-image: url('/resources/img/bg-img-1.jpg');"></div>

    <div class="cls-content">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3"></h1>
                    <p>Signed Out</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>